{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}