@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.header{
    font-family: 'Noto Sans';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1% 5% 1% 5%;
}

.logo-img{
    max-width: 20vw;
    max-height: 10vh;
}

.input-box{
    padding: 5px 0px 5px 5px;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
}

.input .search-btn{
    border: 1px solid #02023D;
    padding: 5px 30px 5px 30px;
    border-radius: 0px 5px 5px 0px;
    background-color: #02023D;
    color: white;
    font-family: 'FontAwesome';
}

.options{

}

.line{
    color: black;
    margin-left: 5%;
    width: 90%;
}

